<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<nav class="navbar navbar-default" th:fragment="mainNavbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Profile stalowe</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/index.html">O firmie</a></li>
            <li><a href="/addCsection">Oferta i dostępność produktów</a></li>
            <li><a href="/allCoursesPage">Zamówienia</a></li>
            <li><a href="/allCoursesPage">Kontakt</a></li>
        </ul>
    </div>
</nav>

<footer class="card-footer text-center" th:fragment="mainFooter">
    <div>
        <a href="https://www.facebook.com/sylwester.kukla">Facebook</a>
        <a href="https://www.google.pl/">Google</a>
        <span>Copyrights by SK</span>
    </div>
</footer>